@use "./color-palette" as *;

$rbe-color-light-grey-05: #fbfbfe;
$rbe-color-light-grey-10: #f9f9fb;
$rbe-color-light-grey-20: #f0f0f4;
$rbe-color-light-grey-30: #e0e0e6;
$rbe-color-light-grey-40: #cfcfd8;
$rbe-color-light-grey-50: #bfbfc9;
$rbe-color-light-grey-60: #afafba;
$rbe-color-light-grey-70: #9f9fad;
$rbe-color-light-grey-80: #8f8f9d;
$rbe-color-light-grey-90: #80808e;
$rbe-color-dark-grey-05: #5b5b66;
$rbe-color-dark-grey-10: #52525e;
$rbe-color-dark-grey-20: #4a4a55;
$rbe-color-dark-grey-30: #42414d;
$rbe-color-dark-grey-40: #3a3944;
$rbe-color-dark-grey-50: #32313c;
$rbe-color-dark-grey-60: #2b2a33;
$rbe-color-dark-grey-70: #23222b;
$rbe-color-dark-grey-80: #1c1b22;
$rbe-color-dark-grey-90: #15141a;

$rbe-color-dark-theme-blue: #1870f0;
$rbe-color-dark-theme-green: #088806;
$rbe-color-dark-theme-yellow: #d84000;
$rbe-color-dark-theme-red: #e80840;
$rbe-color-dark-theme-violet: #a040f8;
$rbe-color-dark-theme-pink: #c84080;

$rbe-color-light-theme-blue: #1870f0;
$rbe-color-light-theme-green: #088806;
$rbe-color-light-theme-yellow: #d84000;
$rbe-color-light-theme-red: #e80840;
$rbe-color-light-theme-violet: #a040f8;
$rbe-color-light-theme-pink: #c84080;

$rbe-color-light-theme-blue-10: rbe-color($rbe-color-light-theme-blue, 10);
$rbe-color-light-theme-blue-20: rbe-color($rbe-color-light-theme-blue, 20);
$rbe-color-light-theme-blue-30: rbe-color($rbe-color-light-theme-blue, 30);
$rbe-color-light-theme-blue-40: rbe-color($rbe-color-light-theme-blue, 40);
$rbe-color-light-theme-blue-50: rbe-color($rbe-color-light-theme-blue, 50);
$rbe-color-light-theme-blue-60: rbe-color($rbe-color-light-theme-blue, 60);
$rbe-color-light-theme-blue-70: rbe-color($rbe-color-light-theme-blue, 70);
$rbe-color-light-theme-blue-80: rbe-color($rbe-color-light-theme-blue, 80);
$rbe-color-light-theme-blue-90: rbe-color($rbe-color-light-theme-blue, 90);

$rbe-color-light-theme-green-10: rbe-color($rbe-color-light-theme-green, 10);
$rbe-color-light-theme-green-20: rbe-color($rbe-color-light-theme-green, 20);
$rbe-color-light-theme-green-30: rbe-color($rbe-color-light-theme-green, 30);
$rbe-color-light-theme-green-40: rbe-color($rbe-color-light-theme-green, 40);
$rbe-color-light-theme-green-50: rbe-color($rbe-color-light-theme-green, 50);
$rbe-color-light-theme-green-60: rbe-color($rbe-color-light-theme-green, 60);
$rbe-color-light-theme-green-70: rbe-color($rbe-color-light-theme-green, 70);
$rbe-color-light-theme-green-80: rbe-color($rbe-color-light-theme-green, 80);
$rbe-color-light-theme-green-90: rbe-color($rbe-color-light-theme-green, 90);

$rbe-color-light-theme-yellow-10: rbe-color($rbe-color-light-theme-yellow, 10);
$rbe-color-light-theme-yellow-20: rbe-color($rbe-color-light-theme-yellow, 20);
$rbe-color-light-theme-yellow-30: rbe-color($rbe-color-light-theme-yellow, 30);
$rbe-color-light-theme-yellow-40: rbe-color($rbe-color-light-theme-yellow, 40);
$rbe-color-light-theme-yellow-50: rbe-color($rbe-color-light-theme-yellow, 50);
$rbe-color-light-theme-yellow-60: rbe-color($rbe-color-light-theme-yellow, 60);
$rbe-color-light-theme-yellow-70: rbe-color($rbe-color-light-theme-yellow, 70);
$rbe-color-light-theme-yellow-80: rbe-color($rbe-color-light-theme-yellow, 80);
$rbe-color-light-theme-yellow-90: rbe-color($rbe-color-light-theme-yellow, 90);

$rbe-color-light-theme-red-10: rbe-color($rbe-color-light-theme-red, 10);
$rbe-color-light-theme-red-20: rbe-color($rbe-color-light-theme-red, 20);
$rbe-color-light-theme-red-30: rbe-color($rbe-color-light-theme-red, 30);
$rbe-color-light-theme-red-40: rbe-color($rbe-color-light-theme-red, 40);
$rbe-color-light-theme-red-50: rbe-color($rbe-color-light-theme-red, 50);
$rbe-color-light-theme-red-60: rbe-color($rbe-color-light-theme-red, 60);
$rbe-color-light-theme-red-70: rbe-color($rbe-color-light-theme-red, 70);
$rbe-color-light-theme-red-80: rbe-color($rbe-color-light-theme-red, 80);
$rbe-color-light-theme-red-90: rbe-color($rbe-color-light-theme-red, 90);

$rbe-color-light-theme-violet-10: rbe-color($rbe-color-light-theme-violet, 10);
$rbe-color-light-theme-violet-20: rbe-color($rbe-color-light-theme-violet, 20);
$rbe-color-light-theme-violet-30: rbe-color($rbe-color-light-theme-violet, 30);
$rbe-color-light-theme-violet-40: rbe-color($rbe-color-light-theme-violet, 40);
$rbe-color-light-theme-violet-50: rbe-color($rbe-color-light-theme-violet, 50);
$rbe-color-light-theme-violet-60: rbe-color($rbe-color-light-theme-violet, 60);
$rbe-color-light-theme-violet-70: rbe-color($rbe-color-light-theme-violet, 70);
$rbe-color-light-theme-violet-80: rbe-color($rbe-color-light-theme-violet, 80);
$rbe-color-light-theme-violet-90: rbe-color($rbe-color-light-theme-violet, 90);

$rbe-color-light-theme-pink-10: rbe-color($rbe-color-light-theme-pink, 10);
$rbe-color-light-theme-pink-20: rbe-color($rbe-color-light-theme-pink, 20);
$rbe-color-light-theme-pink-30: rbe-color($rbe-color-light-theme-pink, 30);
$rbe-color-light-theme-pink-40: rbe-color($rbe-color-light-theme-pink, 40);
$rbe-color-light-theme-pink-50: rbe-color($rbe-color-light-theme-pink, 50);
$rbe-color-light-theme-pink-60: rbe-color($rbe-color-light-theme-pink, 60);
$rbe-color-light-theme-pink-70: rbe-color($rbe-color-light-theme-pink, 70);
$rbe-color-light-theme-pink-80: rbe-color($rbe-color-light-theme-pink, 80);
$rbe-color-light-theme-pink-90: rbe-color($rbe-color-light-theme-pink, 90);

$rbe-color-dark-theme-blue-10: rbe-color($rbe-color-dark-theme-blue, 10);
$rbe-color-dark-theme-blue-20: rbe-color($rbe-color-dark-theme-blue, 20);
$rbe-color-dark-theme-blue-30: rbe-color($rbe-color-dark-theme-blue, 30);
$rbe-color-dark-theme-blue-40: rbe-color($rbe-color-dark-theme-blue, 40);
$rbe-color-dark-theme-blue-50: rbe-color($rbe-color-dark-theme-blue, 50);
$rbe-color-dark-theme-blue-60: rbe-color($rbe-color-dark-theme-blue, 60);
$rbe-color-dark-theme-blue-70: rbe-color($rbe-color-dark-theme-blue, 70);
$rbe-color-dark-theme-blue-80: rbe-color($rbe-color-dark-theme-blue, 80);
$rbe-color-dark-theme-blue-90: rbe-color($rbe-color-dark-theme-blue, 90);

$rbe-color-dark-theme-green-10: rbe-color($rbe-color-dark-theme-green, 10);
$rbe-color-dark-theme-green-20: rbe-color($rbe-color-dark-theme-green, 20);
$rbe-color-dark-theme-green-30: rbe-color($rbe-color-dark-theme-green, 30);
$rbe-color-dark-theme-green-40: rbe-color($rbe-color-dark-theme-green, 40);
$rbe-color-dark-theme-green-50: rbe-color($rbe-color-dark-theme-green, 50);
$rbe-color-dark-theme-green-60: rbe-color($rbe-color-dark-theme-green, 60);
$rbe-color-dark-theme-green-70: rbe-color($rbe-color-dark-theme-green, 70);
$rbe-color-dark-theme-green-80: rbe-color($rbe-color-dark-theme-green, 80);
$rbe-color-dark-theme-green-90: rbe-color($rbe-color-dark-theme-green, 90);

$rbe-color-dark-theme-yellow-10: rbe-color($rbe-color-dark-theme-yellow, 10);
$rbe-color-dark-theme-yellow-20: rbe-color($rbe-color-dark-theme-yellow, 20);
$rbe-color-dark-theme-yellow-30: rbe-color($rbe-color-dark-theme-yellow, 30);
$rbe-color-dark-theme-yellow-40: rbe-color($rbe-color-dark-theme-yellow, 40);
$rbe-color-dark-theme-yellow-50: rbe-color($rbe-color-dark-theme-yellow, 50);
$rbe-color-dark-theme-yellow-60: rbe-color($rbe-color-dark-theme-yellow, 60);
$rbe-color-dark-theme-yellow-70: rbe-color($rbe-color-dark-theme-yellow, 70);
$rbe-color-dark-theme-yellow-80: rbe-color($rbe-color-dark-theme-yellow, 80);
$rbe-color-dark-theme-yellow-90: rbe-color($rbe-color-dark-theme-yellow, 90);

$rbe-color-dark-theme-red-10: rbe-color($rbe-color-dark-theme-red, 10);
$rbe-color-dark-theme-red-20: rbe-color($rbe-color-dark-theme-red, 20);
$rbe-color-dark-theme-red-30: rbe-color($rbe-color-dark-theme-red, 30);
$rbe-color-dark-theme-red-40: rbe-color($rbe-color-dark-theme-red, 40);
$rbe-color-dark-theme-red-50: rbe-color($rbe-color-dark-theme-red, 50);
$rbe-color-dark-theme-red-60: rbe-color($rbe-color-dark-theme-red, 60);
$rbe-color-dark-theme-red-70: rbe-color($rbe-color-dark-theme-red, 70);
$rbe-color-dark-theme-red-80: rbe-color($rbe-color-dark-theme-red, 80);
$rbe-color-dark-theme-red-90: rbe-color($rbe-color-dark-theme-red, 90);

$rbe-color-dark-theme-violet-10: rbe-color($rbe-color-dark-theme-violet, 10);
$rbe-color-dark-theme-violet-20: rbe-color($rbe-color-dark-theme-violet, 20);
$rbe-color-dark-theme-violet-30: rbe-color($rbe-color-dark-theme-violet, 30);
$rbe-color-dark-theme-violet-40: rbe-color($rbe-color-dark-theme-violet, 40);
$rbe-color-dark-theme-violet-50: rbe-color($rbe-color-dark-theme-violet, 50);
$rbe-color-dark-theme-violet-60: rbe-color($rbe-color-dark-theme-violet, 60);
$rbe-color-dark-theme-violet-70: rbe-color($rbe-color-dark-theme-violet, 70);
$rbe-color-dark-theme-violet-80: rbe-color($rbe-color-dark-theme-violet, 80);
$rbe-color-dark-theme-violet-90: rbe-color($rbe-color-dark-theme-violet, 90);

$rbe-color-dark-theme-pink-10: rbe-color($rbe-color-dark-theme-pink, 10);
$rbe-color-dark-theme-pink-20: rbe-color($rbe-color-dark-theme-pink, 20);
$rbe-color-dark-theme-pink-30: rbe-color($rbe-color-dark-theme-pink, 30);
$rbe-color-dark-theme-pink-40: rbe-color($rbe-color-dark-theme-pink, 40);
$rbe-color-dark-theme-pink-50: rbe-color($rbe-color-dark-theme-pink, 50);
$rbe-color-dark-theme-pink-60: rbe-color($rbe-color-dark-theme-pink, 60);
$rbe-color-dark-theme-pink-70: rbe-color($rbe-color-dark-theme-pink, 70);
$rbe-color-dark-theme-pink-80: rbe-color($rbe-color-dark-theme-pink, 80);
$rbe-color-dark-theme-pink-90: rbe-color($rbe-color-dark-theme-pink, 90);

$rbe-color-ink-05: #393473;
$rbe-color-ink-10: #342f6d;
$rbe-color-ink-20: #312a64;
$rbe-color-ink-30: #2e255d;
$rbe-color-ink-40: #2b2156;
$rbe-color-ink-50: #291d4f;
$rbe-color-ink-60: #271948;
$rbe-color-ink-70: #20123a;
$rbe-color-ink-80: #20133a;
$rbe-color-ink-90: #1d1133;
$rbe-color-marketing-grey-05: #f9f9fa;
$rbe-color-marketing-grey-10: #ededf0;
$rbe-color-marketing-grey-20: #cdcdd4;
$rbe-color-marketing-grey-30: #b1b1bc;
$rbe-color-marketing-grey-40: #9595a2;
$rbe-color-marketing-grey-50: #7a7a8b;
$rbe-color-marketing-grey-60: #5e5e72;
$rbe-color-marketing-grey-70: #42435a;
$rbe-color-marketing-grey-80: #1f2033;
$rbe-color-marketing-grey-90: #141422;
$rbe-color-black: #000000;
$rbe-color-white: #ffffff;

$rbe-theme-light-text-primary: $rbe-color-dark-grey-90;
$rbe-theme-light-text-secondary: $rbe-color-dark-grey-05;
$rbe-theme-light-text-inactive: #{$rbe-color-dark-grey-05}a6;
$rbe-theme-light-text-link: $rbe-color-light-theme-blue-50;
$rbe-theme-light-text-invert: $rbe-color-light-grey-05;
$rbe-theme-light-background-primary: $rbe-color-white;
$rbe-theme-light-background-secondary: $rbe-color-light-grey-10;
$rbe-theme-light-background-tertiary: $rbe-color-light-grey-05;
$rbe-theme-light-border-primary: $rbe-color-light-grey-40;
$rbe-theme-light-border-secondary: $rbe-color-light-grey-30;
$rbe-theme-light-button-primary-default: $rbe-color-dark-grey-90;
$rbe-theme-light-button-primary-hover: $rbe-color-dark-grey-40;
$rbe-theme-light-button-primary-active: $rbe-color-dark-grey-05;
$rbe-theme-light-button-primary-inactive: $rbe-color-dark-grey-90;
$rbe-theme-light-button-secondary-default: $rbe-color-light-grey-05;
$rbe-theme-light-button-secondary-hover: $rbe-color-light-grey-30;
$rbe-theme-light-button-secondary-active: $rbe-color-light-grey-30;
$rbe-theme-light-button-secondary-inactive: $rbe-color-light-grey-10;
$rbe-theme-light-button-secondary-border-focus: $rbe-color-light-theme-blue-50;
$rbe-theme-light-button-secondary-border-red: $rbe-color-light-theme-red-30;
$rbe-theme-light-button-secondary-border-red-focus: $rbe-color-light-theme-red-10;
$rbe-theme-light-icon-primary: $rbe-color-dark-grey-05;
$rbe-theme-light-icon-secondary: $rbe-color-light-grey-60;
$rbe-theme-light-icon-information: $rbe-color-light-theme-blue-50;
$rbe-theme-light-icon-warning: $rbe-color-light-theme-yellow-50;
$rbe-theme-light-icon-critical: $rbe-color-light-theme-red-60;
$rbe-theme-light-icon-success: $rbe-color-light-theme-green-60;
$rbe-theme-light-accent-primary: $rbe-color-light-theme-blue-50;
$rbe-theme-light-accent-secondary: $rbe-color-light-theme-blue-50;
$rbe-theme-light-field-focus-border: $rbe-color-light-theme-blue-50;
$rbe-theme-light-focus-01: 0px 0px 0px 3px rgba(0, 144, 237, 0.4);
$rbe-theme-light-shadow-01: 0px 1px 2px rgba(43, 42, 51, 0.05);
$rbe-theme-light-shadow-02: 0px 1px 6px rgba(43, 42, 51, 0.1);

$rbe-theme-light-code-token-tag: $rbe-color-light-theme-blue-60;
$rbe-theme-light-code-token-punctuation: $rbe-color-dark-grey-05;
$rbe-theme-light-code-token-attribute-name: $rbe-color-light-theme-red-60;
$rbe-theme-light-code-token-attribute-value: $rbe-color-light-theme-green-60;
$rbe-theme-light-code-token-comment: $rbe-color-dark-grey-05;
$rbe-theme-light-code-token-default: $rbe-color-dark-grey-90;
$rbe-theme-light-code-token-selector: $rbe-color-light-theme-violet-60;
$rbe-theme-light-code-background-inline: $rbe-color-light-grey-20;
$rbe-theme-light-code-background-block: rgba(240, 240, 244, 0.5);

$rbe-theme-dark-text-primary: $rbe-color-light-grey-05;
$rbe-theme-dark-text-secondary: $rbe-color-light-grey-40;
$rbe-theme-dark-text-inactive: #{$rbe-color-light-grey-40}a6;
$rbe-theme-dark-text-link: $rbe-color-dark-theme-blue-30;
$rbe-theme-dark-text-invert: $rbe-color-dark-grey-90;
$rbe-theme-dark-background-primary: $rbe-color-dark-grey-90;
$rbe-theme-dark-background-secondary: $rbe-color-dark-grey-70;
$rbe-theme-dark-background-tertiary: $rbe-color-dark-grey-60;
$rbe-theme-dark-border-primary: $rbe-color-dark-grey-10;
$rbe-theme-dark-border-secondary: $rbe-color-dark-grey-40;
$rbe-theme-dark-button-primary-default: $rbe-color-light-grey-05;
$rbe-theme-dark-button-primary-hover: $rbe-color-light-grey-40;
$rbe-theme-dark-button-primary-active: $rbe-color-light-grey-70;
$rbe-theme-dark-button-primary-inactive: $rbe-color-light-grey-05;
$rbe-theme-dark-button-secondary-default: $rbe-color-dark-grey-60;
$rbe-theme-dark-button-secondary-hover: $rbe-color-dark-grey-10;
$rbe-theme-dark-button-secondary-active: $rbe-color-dark-grey-05;
$rbe-theme-dark-button-secondary-inactive: $rbe-color-dark-grey-60;
$rbe-theme-dark-shadow-01: 0px 1px 2px rgba(251, 251, 254, 0.2);
$rbe-theme-dark-shadow-02: 0px 1px 6px rgba(251, 251, 254, 0.2);
$rbe-theme-dark-icon-primary: $rbe-color-light-grey-05;
$rbe-theme-dark-icon-secondary: $rbe-color-light-grey-60;
$rbe-theme-dark-icon-information: $rbe-color-dark-theme-blue-40;
$rbe-theme-dark-icon-warning: $rbe-color-dark-theme-yellow-40;
$rbe-theme-dark-icon-critical: $rbe-color-dark-theme-red-40;
$rbe-theme-dark-icon-success: $rbe-color-dark-theme-green-40;
$rbe-theme-dark-accent-primary: $rbe-color-dark-theme-blue-40;
$rbe-theme-dark-accent-secondary: $rbe-color-dark-theme-blue-40;
$rbe-theme-dark-field-focus-border: $rbe-color-light-grey-05;
$rbe-theme-dark-focus-01: 0px 0px 0px 3px rgba(251, 251, 254, 0.5);

$rbe-theme-dark-code-token-tag: $rbe-color-dark-theme-blue-30;
$rbe-theme-dark-code-token-punctuation: $rbe-color-light-grey-80;
$rbe-theme-dark-code-token-attribute-name: $rbe-color-dark-theme-red-40;
$rbe-theme-dark-code-token-attribute-value: $rbe-color-dark-theme-green-40;
$rbe-theme-dark-code-token-comment: $rbe-color-light-grey-80;
$rbe-theme-dark-code-token-default: $rbe-color-light-grey-05;
$rbe-theme-dark-code-token-selector: $rbe-color-dark-theme-violet-40;
$rbe-theme-dark-code-background-inline: $rbe-color-dark-grey-40;
$rbe-theme-dark-code-background-block: rgba(58, 57, 68, 0.5);

$screen-sm: 426px;
$screen-md: 769px;
$screen-lg: 1200px;
$screen-xl: 1441px;

/*
 * z-index scale
 */
$send-to-back: -1;
$bring-to-front: 9999;
$bottom-layer: 100;
$middle-layer: 200;
$top-layer: 300;
